* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

label {
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1, h2, h3, #saludo {
    padding-left: 5px;    
}

/* Mixin de contenedor principal */

@mixin mainContainer {

}

.mainContainer--gasto {
    @include mainContainer;
    background-color: #F27D8D;
}

.mainContainer--balance {
    @include mainContainer;
    background-color: #05668D;
}

/* Mixin containers */
@mixin divContenedor {
    display: grid;
    align-items: center;
    min-height: 50vh;
}

.divContenedor--balance {
    @include divContenedor;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}

.divContenedor--gastos {
    @include divContenedor;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
}


/* Mixin pastillas balance */
@mixin pastilla {
    width: 60vw;
    padding: 3vh 0;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    border-radius: 7px;

}

.pastilla--balance {
    @include pastilla;
    grid-template-columns: 1fr 1fr;
    background-color: #05668D;
    justify-items: center;
    padding: 3vh 0;
}

.pastilla--ingresos {
    @include pastilla;
}

.pastilla--gastos {
    @include pastilla;
 }

.pastilla--ahorros {
    @include pastilla;
}

@mixin pastillaRight {
    display: grid;
    width: 60%;
    height: 120%;
    border-radius: 7px;
    text-align: center;
}

@mixin pastillaLeft {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    height: 120%;
    background-color: #46AF75;
    border-radius: 7px;
    text-align: center;
    align-items: center;
}

.pastillaRight--ingresos {
    @include pastillaRight;
    background-color: #46AF75;
}

.pastillaRight--gastos {
    @include pastillaRight;
    background-color: #F27D8D;
}

.pastillaRight--ahorros {
    @include pastillaRight;
    background-color: #229FBF;
}

.pastillaLeft--ingresos {
    @include pastillaLeft;
    background-color: #46AF75;
}

.pastillaLeft--gastos {
    @include pastillaLeft;
    background-color: #F27D8D;
}

.pastillaLeft--ahorros {
    @include pastillaLeft;
    background-color: #229FBF;
}

/* Mixin de botones */

@mixin btn {
    height: 100%;
    text-decoration: none;
    text-align: center;
    border: none;
    border: 0;
    font-size: 0.8em;
    border-radius: 5px; 
    font-weight: 500;
}

.btn--reset, .btn--sendGasto {
    @include btn;
    background-color: #F27D8D;
    color: #F5F5F5;
    grid-row: 13/15;
    height: 70%;
    cursor: pointer;
}

.btn--agregar {
    @include btn;
    background-color: rgba(0, 0, 0, 0);
    color: #F5F5F5;
    height: 100%;
    font-weight: 900;
    font-size: 2em;
    cursor: pointer;
}




/* Sección ingresar Gasto */

/* mobile */
 @media screen and (max-width: 767px) {

    .divContenedor--gastos, .divContenedor--balance {
        background-color: #F5F5F5;
        border-radius: 15px 15px 0 0;
        padding: 10vw;
    }
}

/* desktop */
@media screen and (min-width: 768px) {
    .divContenedor--gastos, .divContenedor--balance {
        background-color: #F5F5F5;
        border-radius: 15px 15px 0 0;
        padding: 10vh;
    }
}


    .labelsForm {
        color: #1F1F1F;
        font-weight:500;
        font-size: 0.8em;
    }

    .inputsForm, .selectForm {
        height: 3vh;
        font-size: 0.8em;
        background-color: rgba(0, 0, 0, 0);;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;       
    }

    .tituloSeccion {
        padding: 15px;
        color: #F5F5F5;
        text-align: center;

    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #F5F5F5; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #F5F5F5;
    margin: auto;
    padding: 3vh;
    border: 1px solid #888;
    height:10vh;
    width: 70vw;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .btnModal {
    color: #aaaaaa;
    font-size: 1em;
    font-weight: bold;
  }

  // Botón volver
  .btnModal:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
  // Botón "Sí"
  .btnModal:nth-child(3) {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .btnModal:hover,
  .btnModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }