@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Roboto', sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

h1, h2, h3, #saludo {
  padding-left: 5px; }

/* Mixin de botones */
#btn--reset, #btn--sendGasto {
  background-color: #1e1e1e;
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  text-align: center;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500;
  background-color: #F27D8D;
  color: #F5F5F5;
  grid-row: 13/15;
  height: 70%; }

#btn--buy {
  background-color: #1e1e1e;
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  text-align: center;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500; }

#ingresarContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  align-items: center; }

/* Sección ingresar Gasto */
/* mobile */
@media screen and (max-width: 767px) {
  #ingresarContainer {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0 0;
    padding: 10vw; } }

/* desktop */
@media screen and (min-width: 768px) {
  #ingresarContainer {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0 0;
    padding: 10vh; } }

#containerIngresarGasto {
  background-color: #F27D8D; }

.labelsForm {
  color: #1F1F1F;
  font-weight: 500;
  font-size: 0.8em; }

.inputsForm, .selectForm {
  height: 3vh;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.tituloSeccion {
  padding: 15px;
  color: #F5F5F5;
  text-align: center; }
