* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Roboto', sans-serif; }

html,
body {
  height: 100%;
  overflow-y: hidden; }

label {
  color: white; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

#contenedorHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 2fr; }

/* Mixin de contenedor principal */
.mainContainer--gastos {
  height: 100%;
  background-color: #F27D8D; }

.mainContainer--ingresos {
  height: 100%;
  background-color: #46AF75; }

.mainContainer--balance, .mainContainer--login {
  height: 100%;
  background-color: #05668D;
  border-radius: 0 0 30% 30%;
  text-align: center; }

.mainContainer--login {
  height: 50%; }
  .mainContainer--login h2, .mainContainer--login h3 {
    color: white; }

/* Mixin containers */
.divContenedor--balance,
.divContenedor--login {
  display: grid;
  align-items: center;
  min-height: 50vh;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 3fr;
  justify-items: center; }

.divContenedor--gastos {
  display: grid;
  align-items: center;
  min-height: 50vh;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, 1fr) 3fr;
  height: 100%; }

/* mobile */
@media screen and (max-width: 767px) {
  .divContenedor--gastos,
  .divContenedor--balance,
  .divContenedor--login {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0 0;
    padding-bottom: 5vh; }
  .divContenedor--gastos {
    padding: 4vw; } }

/* desktop */
@media screen and (min-width: 768px) {
  .mainContainer--login {
    margin: 0 auto;
    max-width: 50vw; }
  .divContenedor--gastos,
  .divContenedor--balance,
  .divContenedor--login {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0 0;
    padding: 2vh 8vw; } }

/* Mixin pastillas balance */
.pastilla--balance {
  width: 80vw;
  padding: 3vh 0;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  border-radius: 7px;
  grid-template-columns: 1fr 1fr;
  background-color: #05668D;
  justify-items: center;
  padding: 3vh 0; }

.pastilla--ingresos {
  width: 80vw;
  padding: 3vh 0;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  border-radius: 7px; }

.pastilla--gastos {
  width: 80vw;
  padding: 3vh 0;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  border-radius: 7px; }

.pastilla--ahorros {
  width: 80vw;
  padding: 3vh 0;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  border-radius: 7px; }

.pastillaRight--ingresos {
  display: grid;
  width: 60%;
  height: 120%;
  border-radius: 7px;
  text-align: center;
  background-color: #46AF75; }

.pastillaRight--gastos {
  display: grid;
  width: 60%;
  height: 120%;
  border-radius: 7px;
  text-align: center;
  background-color: #F27D8D; }

.pastillaRight--ahorros {
  display: grid;
  width: 60%;
  height: 120%;
  border-radius: 7px;
  text-align: center;
  background-color: #229FBF; }

.pastillaLeft--ingresos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 120%;
  background-color: #46AF75;
  border-radius: 7px;
  text-align: center;
  align-items: center;
  background-color: #46AF75; }

.pastillaLeft--gastos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 120%;
  background-color: #46AF75;
  border-radius: 7px;
  text-align: center;
  align-items: center;
  background-color: #F27D8D; }

.pastillaLeft--ahorros {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 120%;
  background-color: #46AF75;
  border-radius: 7px;
  text-align: center;
  align-items: center;
  background-color: #229FBF; }

/* Mixin de botones */
.btn--reset,
.btn--sendGasto {
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500;
  background-color: #F27D8D;
  color: #F5F5F5;
  grid-row: 15/17;
  height: 70%;
  cursor: pointer; }

.btn--sendIngreso {
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500;
  background-color: #46AF75;
  color: #F5F5F5;
  grid-row: 15/17;
  height: 70%;
  cursor: pointer; }

.btn--send {
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500;
  background-color: #05668D;
  color: #F5F5F5;
  height: 100%;
  cursor: pointer; }

.btn--agregar {
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  color: #F5F5F5;
  height: 100%;
  font-weight: 900;
  font-size: 3em;
  cursor: pointer; }

.btn--back {
  height: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  border: 0;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  padding-left: 1vw;
  border: 0; }

.labelsForm {
  color: #1F1F1F;
  font-weight: 500;
  font-size: 0.8em; }

.selectForm {
  height: 3vh;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.selectForm--mes {
  height: 3vh;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin: auto; }

.inputsForm {
  height: 3vh;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.tituloSeccion {
  padding: 15px;
  color: #F5F5F5;
  text-align: center; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20vh;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #F5F5F5;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  display: grid;
  grid-template-rows: 8fr 1fr;
  grid-template-columns: 3fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  background-color: #F5F5F5;
  margin: auto;
  padding: 3vh;
  border: 1px solid #888;
  height: 10vh;
  width: 70vw;
  border-radius: 10px; }

#mensajeModal {
  grid-column: 1/4;
  text-align: center; }

/* The Close Button */
.btnModal {
  color: #aaaaaa;
  font-size: 1em;
  font-weight: bold; }

.btnModal:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2/3; }

.btnModal:nth-child(3) {
  grid-row: 2/3;
  grid-column: 3/4; }

.btnModal:hover,
.btnModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

#waves {
  grid-row: 5/6; }

.cajaLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15vh 15vw;
  background-color: white;
  height: 100%;
  filter: drop-shadow(0px 2px 1px #3f3f3f);
  border-radius: 10px; }

#formLogin {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #formLogin label {
    color: black; }

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 50fr;
  align-items: center;
  justify-content: center;
  justify-items: center; }
